<!-- TODO - if a custom css exists for this tag, include it -->

<div id='feed_header'>
  Current hashtag is <b><%= @tag %></b>
</div>

<div id='feed'>
  <% if @media.nil? or @media.empty? %>
      No Results
  <% else %>
      <% @media.each do |media| %>
        <div id='<%= media.id %>'>
          <!-- TODO - add lightbox support and set the link to something else -->
          <a href='<%= media.link %>'>
            <img src='<%= media.images.thumbnail.url %>'></img>
          </a>
          <% if media.caption.nil? %>
              <span>&nbsp;</span>
          <% else %>
              <span><%= media.caption.text %></span>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>