<!-- TODO - if a custom css exists for this tag, include it -->

<div id='feed_header'>
  Current hashtag is <b><%= @tag %></b>
</div>

<div id='feed'>
  <% if @media.nil? or @media.empty? %>
      No Results
  <% else %>
      <% @media.each do |media| %>
        <div id='<%= media.id %>'>
          <!-- TODO - add lightbox support and set the link to something else -->
          <a href='<%= media.link %>'>
            <img src='<%= media.images.thumbnail.url %>'></img>
          </a>
          <% if media.caption.nil? %>
              <span>&nbsp;</span>
          <% else %>
              <span><%= media.caption.text %></span>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>

<script type='text/javascript'>
  //on page load
  $(document).ready(function()
  {
     setInterval( "checkForNewFeed()", 10000 );
  });

  //TODO - actually retrieve the min_id and max_id on the initial render

  function checkForNewFeed()
  {
    $.ajax({
        type: "GET",
        url: "/" + <%= @tag %> + "/ajax_new/" + <%= @min_id %>,
        success: updateFeedNew()
    });
  }

  function updateFeedNew()
  {
      //TODO - build the new elements

      //TODO - set new min_id
  }

  function checkForOldFeed()
  {
    $.ajax({
        type: "GET",
        url: "/" + <%= @tag %> + "/ajax_new/" + <%= @max_id %>,
        success: updateFeedOld()
    });
  }

  //fires when scrolling down
  function updateFeedOld()
  {
      //TODO - build the new elements

      //TODO - set new max_id
  }
</script>